<div class="well">
  <h2>Hello!</h2>
  <p>This is a paragraph in the sidebar. The sidebar is meant to ensure that you have generic things in your news section.</p>
</div>

<div class="well">
  
</div>